/*=======+SCROLLING BACKGROUND+========*/
@font-face{
    font-family: "Emulogic";
    src: url("emulogic.tff")format('truetype');
}

/*=======+BACKGROUND STARS+============*/
.galaga #starfield{
    z-index: -20;
}

.galaga .star{
    position:absolute;
    top:0px;
    left: 0px;
    width: 1px;
    height: 1px;
    background-color: #D595D5;
}
/*=======+BACKGROUND COLOR+============*/

body{
    background: black;
    font-family: Emulogic, "Couier New";
    margin: 0px;
}

/*=======+TITLE+======================*/
    #title{
        width: 100px;
        text-align: center;
        color:#FFFFFF;
        font-family: Emulogic, "Courier New";
        font-size:18pt;
    }

    #title span{
        color:#FF0000;
    }
    #title > #sub, #title, > #version {
        #title > #sub, #title > #version;
        font-size: 8pt;
    }
