/*======+SPRITES+========*/

galga comnmander{
    background: #FFFF00;
    width: 1px;
    height: 1px;
        position: absolute;
        overflow: hidden;
        margin: 8px;
        box-shadow:
        -2px -2px 0 0 #FFFF00,
		-1px -2px 0 0 #FFFF00,
        2px -2px 0 0 #FFFF00,
		1px -2px 0 0 #FFFF00,
		-2px -1px 0 0 #FFFF00,
		-1px -1px 0 0 #FFFF00,
		0px -1px 0 0 #FFFF00,
		1px -1px 0 0 #FFFF00,
		2px -1px 0 0 #FFFF00,
		-6px 4px 0 0 #DE4700,
		-6px 5px 0 0 #DE4700,
		-6px 6px 0 0 #DE4700,
		-5px 5px 0 0 #DE4700,
		-5px 6px 0 0 #DE4700,
		-5px 3px 0 0 #DE4700,
		-5px 2px 0 0 #DE4700,
		-1px 2px 0 0 #DE4700,
		-1px 3px 0 0 #DE4700,
		-2px -5px 0 0 #DE4700,
		-2px -4px 0 0 #DE4700,
		-1px -5px 0 0 #DE4700,
		-1px -4px 0 0 #DE4700,
        6px 4px 0 0 #DE4700,
		6px 5px 0 0 #DE4700,
		6px 6px 0 0 #DE4700,
		5px 5px 0 0 #DE4700,
		5px 6px 0 0 #DE4700,
		5px 3px 0 0 #DE4700,
		5px 2px 0 0 #DE4700,
		1px 2px 0 0 #DE4700,
		1px 3px 0 0 #DE4700,
		2px -5px 0 0 #DE4700,
		2px -4px 0 0 #DE4700,
		1px -5px 0 0 #DE4700,
		1px -4px 0 0 #DE4700,
        -7px 0px 0 0 #009797,
        -6px 4px 0 1px #009797,
		-6px 6px 0 1px #009797,
		-5px 1px 0 1px #009797,
		-5px 4px 0 1px #009797,
		-5px 6px 0 1px #009797,
		-4px 0px 0 1px #009797,
		-4px 1px 0 1px #009797,
		-6px 8px 0 0 #009797,
		-5px 8px 0 0 #009797,
		7px 0px 0 0 #009797,
		6px 4px 0 1px #009797,
		6px 6px 0 1px #009797,
		5px 1px 0 1px #009797,
		5px 4px 0 1px #009797,
		5px 6px 0 1px #009797,
		4px 0px 0 1px #009797,
		4px 1px 0 1px #009797,
		6px 8px 0 0 #009797,
		5px 8px 0 0 #009797,
		-3px -2px 0 0 #009797,
		3px -2px 0 0 #009797,
		0px -3px 0 2px #009797,
		-3px -4px 0 0 #009797,
		-3px -5px 0 0 #009797,
		-4px -5px 0 0 #009797,
		3px -4px 0 0 #009797,
		3px -5px 0 0 #009797,
		4px -5px 0 0 #009797,
		-1px -7px 0 0 #009797,
		-1px -6px 0 0 #009797,
		1px -7px 0 0 #009797,
		1px -6px 0 0 #009797,
		0px -1px 0 2px #FFFF00;
}
